<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/offline">
<head>
<title>暨大论坛</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
	rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>
	<main layout:fragment="content">
	<article class="container">
		<header class="row">
			<div class="col s12">
				<h1 class="flow-text center">Description</h1>
				<p class="center">
					暨大论坛为Java开发的web项目，是一个Java学习论坛，为Java学习者提供一个学习的社区化平台。主要功能有登录、注册、浏览话题、发表话题、上传照片
					话题分类浏览、评论、个人用户的积分、点赞（置为有用评论）、站内信通知、用户积分排行榜等等。它是一个校内讨论交流的平台，师生可以畅所欲言。</p>
			</div>
		</header>
		<section class="row">
			<div class="col s12">
				<h1 class="flow-text center">Technologies</h1>
				<p class="center">Java 8 Standard Edition、 Spring MVC、 Spring
					Data、 Spring Security、 Spring Boot、 MyBatis、 HTML（Thymeleaf）、
					CSS（Materialize）、 Maven、 MySql、 Redis</p>
				<h1 class="flow-text center">Software tools</h1>
				<p class="center">Eclipse、 MySQLWorkbench [MySQL]、PostMan</p>
				<h1 class="flow-text center">Store</h1>
				<p class="center">Github</p>
			</div>
		</section>
	</article>
	</main>
</body>
</html>
