<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <title>暨大论坛</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container">
            <header class="row">
                <div class="col s12">
                    <h1 class="flow-text center">Description</h1>
                    <p class="center">
                    Internet forum [in this case about programming language Java] powered by Spring Framework and MySQL.This web application
                    enables inter alia: adding topics and answers, as well as browsing, editing or deleting some of them.</p>
                </div>
            </header>
            <section class="row">
                <div class="col s12">
                    <h1 class="flow-text center">Technologies</h1>
                    <p class="center">Java 8 Standard Edition, Spring MVC, Spring Data, Spring Security, Spring Boot, JPA/Hibernate,
                        HTML (Themyleaf), CSS (Materialize)</p>
                    <h1 class="flow-text center">Software tools</h1>
                    <p class="center">IntelliJ IDEA, Gradle, XAMPP [MySQL]</p>
                    <h1 class="flow-text center">License</h1>
                    <p class="center">MIT</p>
                </div>
            </section>
        </article>
    </main>
</body>
</html>