<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/online">
<head>
<title>站内信通知</title>
</head>
<body>
	<main layout:fragment="content">
	<article class="container" style="padding: 3% 0 2%;">
		<header class="row">
                <blockquote class="flow-text left" th:text="站内信通知">Header</blockquote>
                <blockquote class="flow-text right" th:text="|Total: | + ${messages.size()}">Number of messages</blockquote>
        </header>
		<section class="row">
			<div class="col s12">
				<table class="striped bordered centered" th:if="${messages.size() != 0}">
					<thead>
					<tr>
                            <th>Username</th>
                            <th>CreatedDate</th>
                            <th>Content</th>
                    </tr>
                    </thead>
					<tbody>
						<th:block th:each="message:${messages}">
							<tr>
								<!-- message.getFromId()会报错无法找到String的Type，在message中加上$即可 -->
								<td th:text="${userDao.getUsernameById(message.getFromId())}">Username</td>
								<td th:text="${message.displayParsedCreatedDate(message.getCreatedDate())}">CreatedDate</td>
								<td th:text="${message.getContent()}">Content</td>
								
								<!-- <td th:text="Xzping-">Username</td> -->
								<!-- <td th:text="${userDao.getUsernameById(12)}">Username</td>
								<td th:text="'2018-02-12 17'+':'+'18'">CreatedDate</td>
								<td th:text="Xzping-评论了你的话题">Content</td> -->
								
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</section>
	</article>
	</main>
</body>
</html>