<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/online">
<head>
<title>排行榜</title>
</head>
<body>
	<main layout:fragment="content">
	<article class="container" style="padding: 3% 0 2%;">
		<header class="row">
			<div class="col s12">
				<blockquote class="flow-text left" th:text="|排行榜： |">Ranking</blockquote>
			</div>
		</header>
		<ul class="collection" th:each="pointName : ${pointSet}">
			<li class="collection-item avatar">
				<img src="http://pj9qy0grp.bkt.clouddn.com/private.jpg" alt="" class="circle"/> 
				<a class="title" th:text="${pointName}" th:href="@{'/profile/' + ${userDao.getIdByUsername(pointName)}}">pointName</a>
				<p th:text="|得分:|+${userDao.getPoints(userDao.getIdByUsername(pointName))}">
					point
				</p> 
				<p th:text="|个人简介:|+${userDao.getUserByUsername(pointName).getIntroduction()}">
					point
				</p>
				<a th:href="@{'/profile/' + ${userDao.getIdByUsername(pointName)}}" class="secondary-content">
					<i class="material-icons">grade</i>
				</a>
			</li>
		</ul>
	</article>
	</main>
</body>
</html>