<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <title>毕设题目</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container">
            <header class="row">
                <div class="col s12">
                    <h1 class="flow-text center">毕设题目</h1>
                    <p class="center">
                    	高并发环境下的论坛系统的设计与实现
                		</p>
                		<p class="center">
                    JNU_FORUM
                		</p>
                </div>
            </header>
        </article>
    </main>
</body>
</html>
